@import url('https://fonts.googleapis.com/css2?family=Freeman&family=Jaro:opsz@6..72&family=Noto+Sans+JP:wght@100..900&display=swap');

:root {
    --primary-color: #0A0A6B;
    --secondary-color: #FFFFFF;
    --accent1-color: #272A73;
    --accent2-color: #BCBDD0;

    --heading-font: Freeman, serif;
    --paragraph-font: Noto, serif;

    --nav-background-color: #7B87A3;
    --nav-link-color: #617073;
    --nav-hover-link-color: #7A93AC;
    --nav-hover-background-color: #92BCEA;
}

header {
    padding: 10px;
    background-color: var(--accent2-color);
    display: grid;
    grid-template-columns: 300px 1fr;
    align-items: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    padding: 2px;
    text-align: center;
}

p {
    padding: 25px;
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
}

.hero {
    position: relative;
}

.hero div {
    position: relative;
    width: 100%;
    margin: auto;
}

.hero img {
    display: block;
    width: auto;
    height: auto;
    max-width: 200%;
}

.hero h1 {
    position: absolute;
    top: 10px;
    left:0;
    right: 0;
    width: auto;
    background-color: var(--accent1-color);
    color: #ebe8f8;
    text-align: center;
    opacity: 85%;
    max-width: 200%;
    padding: 10px 10px;
}

.hero article {
    position: absolute;
    top: 345px;
    width: auto;
    background-color: var(--accent2-color);
    opacity: 80%;
}

.hero article img {
    float: right;
    width: 250px;
    height: auto;
}

.nav_bar {
    text-decoration: none;
    font-weight: 750;
    font-size: x-large;
    display: flex;
    justify-content: space-evenly;
}

.nav_bar a:hover {
    text-decoration: underline;
}

.nav_bar a {
    text-decoration: none;
    color: var(--primary-color);
}

section {
    border: 2px solid var(--primary-color);
    margin-top: 10px; 
}

footer {
    padding: 10px;
    background-color: var(--accent2-color);
    display: grid;
    grid-template-columns: 75px 500px 1fr;
    justify-content: center; 
    border: 2px solid var(--primary-color);
    margin-top: 10px;
    color: var(--primary-color);
    font-weight: 700;
    font-size: x-large;
}

footer nav {
    display: flex;
    align-self: center;
    justify-content: space-around;
}

footer nav a {
    text-decoration: none;
}

header, body, footer {
    max-width: 1024px;
    margin: 0 auto;
}

.library {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.library img {
    width: 190px;
    height: auto;
    align-self: center;
}

figure {
    margin: 1px;
    justify-self: center;
    align-self: flex-start;
}

figcaption {
    text-align: center;
    font-size: small;
}

body {
    font-family: var(--paragraph-font);
    padding: 20px;
}

.history {
    display: grid;
    grid-template-columns: 1fr 200px 1fr;
}

.history img {
    width: 200px;
    height: auto;
    align-self: center;
}