@import url('https://fonts.googleapis.com/css2?family=Freeman&family=Jaro:opsz@6..72&family=Noto+Sans+JP:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}

body {
	font-family: var(--paragraph-font);
	max-width: 960px;
    padding: 20px;
}

:root {
    --primary-color: #0A0A6B;
    --secondary-color: #FFFFFF;
    --accent1-color: #272A73;
    --accent2-color: #BCBDD0;

    --heading-font: Freeman, serif;
    --paragraph-font: Noto, serif;

    --nav-background-color: #7B87A3;
    --nav-link-color: #617073;
    --nav-hover-link-color: #7A93AC;
    --nav-hover-background-color: #92BCEA;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color)
}

nav a:hover {
    color: var(--nav--hover-link-color);
    background-color: var(--nav-hover-background-color);
}

aside {
    width: 20em;
    text-align: center;
    position: relative;
}

aside h2 {
    top: 47px;
    left: 150px;   
    position: absolute;
}

iframe {
    margin: 0 auto;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}
